<html>
<head>
    <style>
<!--table {-->
    <!--font-family: arial, sans-serif;-->
    <!--border-collapse: collapse;-->
    <!--width: 100%;-->
<!--}-->

<!--td, th {-->
    <!--border: 1px solid #dddddd;-->
    <!--text-align: left;-->
    <!--padding: 8px;-->
<!--}-->

<!--tr:nth-child(even) {-->
    <!--background-color: #dddddd;-->
<!--}-->
</style>
</head>
<body>
<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?genre=Toiletries">Toiletries</a>
<a href="/?genre=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>
<br> <BR>
<ol>
    <table>
    <th>Name</th>
    <th>Email</th>
    <th>Category</th>
    <th>Credit Card</th>
    <th>CVV</th>
    <th>Date</th>
    {{#purchases}}
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{category}}</td>
            <td>{{credit_card}}</td>
            <td>{{cvv}}</td>
            <td>{{date}}</td>
        </tr>
        {{/purchases}}
    </table>
</ol>
</body>
</html>